$color-accent: #4ea5d7;

$color-background-body: #fff;
$color-background-primary: #fff;
$color-background-secondary: #f5f5f5;
$color-background-button: rgba(#000, 0.1);
$color-background-button-hover: rgba(#000, 0.2);

$color-text-primary: #222;
$color-text-secondary: #aaa;
$color-text-default: #666;
$color-text-inverse-primary: #fff;
$color-text-inverse-default: #ddd;

$color-border-button: rgba(#000, 0.3);
$color-border-button-hover: rgba(#000, 1);
$color-border-button-inverse: rgba(#fff, 0.7);
$color-border-button-inverse-hover: rgba(#fff, 1);
$border-input: #ddd;
$line: #ddd;

$color-menu-button: #222;

$overlay: rgba(#000, 0.6);
