$break-mobile: 640px;
$break-tablet: 1040px;
$break-notebook: 1360px;

@mixin respond-to($size) {
  @if $size == mobile {
    @media screen and (max-width: $break-mobile) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (max-width: $break-tablet) {
      @content;
    }
  } @else if $size == notebook {
    @media screen and (max-width: $break-notebook) {
      @content;
    }
  }
}
