// Absolute spacings (px)
$spacing-epic: 100px;
$spacing-gigantic: 80px;
$spacing-enormous: 50px;
$spacing-large: 30px;
$spacing-big: 20px;
$spacing-medium: 15px;
$spacing-default: 10px;
$spacing-small: 8px;
$spacing-tiny: 5px;

// Global relative spacings (rem)
$r-spacing-epic: 10rem;
$r-spacing-gigantic: 8rem;
$r-spacing-enormous: 5rem;
$r-spacing-large: 3rem;
$r-spacing-big: 2rem;
$r-spacing-medium: 1.5rem;
$r-spacing-default: 1rem;
$r-spacing-small: 0.8rem;
$r-spacing-tiny: 0.5rem;

// Local relative spacings (em)
$e-spacing-epic: 10em;
$e-spacing-gigantic: 8em;
$e-spacing-enormous: 5em;
$e-spacing-large: 3em;
$e-spacing-big: 2em;
$e-spacing-medium: 1.5em;
$e-spacing-default: 1em;
$e-spacing-small: 0.8em;
$e-spacing-tiny: 0.5em;
