%spacings-large {
  margin: $spacing-epic 0;

  @include respond-to(tablet) {
    margin: $spacing-gigantic 0;
  }
}

%spacings-default {
  margin: $spacing-gigantic 0;

  @include respond-to(tablet) {
    margin: $spacing-large 0;
  }
}

%inner-spacings-large {
  padding: $spacing-epic 0;

  @include respond-to(tablet) {
    padding: $spacing-gigantic 0;
  }
}

%inner-spacings {
  padding: $spacing-gigantic 0;

  @include respond-to(tablet) {
    padding: $spacing-large 0;
  }
}
